{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
    <h2 class='text-primary'>Blog Posts</h2>
    {% for post in posts %}
        <div class="row">
            <div class="col">
                <h3 class='text-info'>{{ post.title }}</h3>
                <small class='text-secondary'>
                    By {{ post.author|author_details }} on {{ post.published_at|date:"M, d Y" }}
                </small>
                <p>{{ post.summary}} </p>
                <p>
                    ({{ post.content|wordcount }} words)
                    <a href="#">Read More</a>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}